@import 'Utility';

.bio{
    height: 100%; 
    white-space: normal; 
    background: $color5;
    border: 2px solid $color1;
    box-sizing: border-box;
    padding-bottom: 20px;
    .bio-container{
        height: 75%; 
        background: $color5; 
        margin: 0 25px 0 25px;
        overflow: auto;
    }
    .bio-text{
        padding: 5px 0 5vw 0; 
        font-size: 28px; 
        color: $color3;
    }
    img{
        margin: 10px auto; 
        display: block; 
        border-radius: 50%; 
        border: 2px solid $color1;
    }
    @media screen and (max-width: 1023px) {
        img{
            width: 28.7109375vw;
        }
        .bio-text{
            font-size: 20px; 
        }
        .bio-container{
            margin: 0 10px 0 10px;
        }
    }
    @media screen and (max-width: 511px) {
        .bio-text{
            font-size: 12px; 
        }
        .bio-container{
            margin: 0 5px 0 5px;
        }
    }
}