@import 'Utility';

content-window{
    .window{
        z-index: 20; 
        background: #e2dfd6; 
        position: fixed; 
        top: 50%; 
        left: 50%; 
        margin-top: -400px; 
        margin-left: -37.5vw; 
        height: 800px; 
        width: 75vw;
        border: 2px solid $color1;
        @include transition-timing(0.5s);
    &.ng-hide{
            opacity: 0;
        }
    }
    .content-title{
        font-size: 50px; 
        text-align: center; 
        margin-top: 50px;
        color: $color2;
    }
    hr{
        border: 2px 
        solid $color1; 
        width: 75%;
    }

    .fa-window-close-o{
        font-size: 30px;
        float: right;
        padding: 10px 10px 0 0;
        color: $color1;
        cursor: pointer;
    }
    .fa-window-close-o:hover{
        color: $hover;
    }
}

