$color1: #bd7b08;
$color2: #2b4467;
$color3: #0f1723;
$color4: #dec393;

@mixin transition-timing($timing) {
    -webkit-transition: all $timing linear;
    transition: all $timing linear;
}
@mixin gradient($color...){
    background: nth(nth($color, 2), 1);
    background: -webkit-gradient($color);
    background: linear-gradient($color);
}