<!DOCTYPE html>
<html>
<head>
    <title>Something Wicked</title>
    <base href="/" />
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/7e4ab6b203.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="somethingWicked.js"></script>
    <link href="style.min.css" rel="stylesheet" />
</head>
<body id="top" ng-app="somethingWicked">
    <div ng-controller="MainController">
        <!--Navigation bar-->
        <div class="nav-bar">
            <img class="logo" src="Images/SomethingWickedLogo.png" />
            <div class="nav-grp">
                <div ng-click="scrollTo('tour')" class="nav">TOUR</div>
                <div ng-click="scrollTo('music')" class="nav">MUSIC</div>
                <div ng-click="scrollTo('videos')" class="nav">VIDEOS</div>
                <div ng-click="scrollTo('photos')" class="nav">PHOTOS</div>
                <div ng-click="scrollTo('bios')" class="nav">BIOS</div>
            </div>
            <div class="mobile-menu" ng-click="menuClick()">
                <i class="fa fa-align-justify" aria-hidden="true"></i>
            </div>
        </div>

        <div ng-show="showMobileMenuDropdown" class="mobile-menu-dropdown ng-hide">
            <div ng-click="scrollTo('tour')" class="mobile-nav">TOUR</div>
            <div ng-click="scrollTo('music')" class="mobile-nav">MUSIC</div>
            <div ng-click="scrollTo('videos')" class="mobile-nav">VIDEOS</div>
            <div ng-click="scrollTo('photos')" class="mobile-nav">PHOTOS</div>
            <div ng-click="scrollTo('bios')" class="mobile-nav">BIOS</div>
        </div>

        <!--Showcase Images-->
        <div ng-controller="ShowcaseController">
            <div class="showcase-img-container" set-height>
                <div ng-repeat="image in images" class="showcase-img ng-hide" back-img="{{image}}" ng-show="currentImage === $index"></div>

                <!--Left arrow-->
                <div class="img-arrow-circle" style="left: 3%" ng-click="setImage(-1)">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>

                <!--Right Arrow-->
                <div class="img-arrow-circle" style="right: 3%" ng-click="setImage(1)">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!--Tour-->
        <div id="tour" class="section" ng-controller="TourController">
            <div class="section-content">
                <div class="section-title">TOUR</div>
                <table cellspacing="0">
                    <tr>
                        <th class="date">DATE</th>
                        <th class="time">TIME</th>
                        <th class="venue">VENUE</th>
                        <th>LOCATION</th>
                    </tr>
                    <tr ng-repeat="show in shows">
                        <td>{{show.date | date: "MMMM d" | uppercase}}</td>
                        <td>{{show.startTime | date: "h a"}} - {{show.endTime | date: "h a"}}</td>
                        <td>{{show.venue.name | uppercase}}</td>
                        <td><a target="_blank" href="{{show.venue.URL}}">{{show.venue.location | uppercase}}</a> </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Music-->
        <div id="music" ng-controller="MusicController" class="section">
            <div class="section-content">
                <div class="section-title">MUSIC</div>
                <table cellspacing="0">
                    <tr>
                        <th ng-click="sort('name')">SONG<div ng-class="getSortClass('name')"></div></th>
                        <th ng-click="sort('artist')">ARTIST<div ng-class="getSortClass('artist')"></div></th>
                        <th ng-click="sort('genre')">GENRE<div ng-class="getSortClass('genre')"></div></th>
                        <th ng-click="sort('videoID')">VIDEO<div ng-class="getSortClass('videoID')"></div></th>
                    </tr>
                    <tr ng-repeat="song in songs | orderBy: sortColumn: isDescending">
                        <td>{{song.name | uppercase}}</td>
                        <td>{{song.artist | uppercase}}</td>
                        <td>{{song.genre | uppercase}}</td>
                        <td>
                            <span ng-show="song.videoID !== ''" ng-click="showVideo(song.videoID)"><i style="color: #ea3516; font-size:30px" class="fa fa-youtube-play" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="media">
            <!--Videos-->
            <div id="videos" ng-controller="VideosController" class="section">
                <div class="section-content">
                    <div class="section-title">VIDEOS</div>
                    <ul>
                        <li ng-repeat="video in videos">
                            <div ng-click="showVideo(video.id)" class="icon"><img ng-src="{{video.thumbnail}}" /></div>
                            <div class="title-bar">
                                <div class="title">{{video.title | uppercase}}</div>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </div>
            <!--Photos-->
            <div id="photos" ng-controller="PhotosController" class="section">
                <div class="section-content">
                    <div class="section-title">PHOTOS</div>
                    <ul>
                        <li ng-repeat="photo in photos">
                            <div ng-click="showPhotos(photo.id)" class="icon"><img ng-src="{{photo.thumbnail}}" /></div>
                            <div class="title-bar">
                                <div class="title">{{photo.title | uppercase}}</div>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </div>
            <!--Bios-->
            <div id="bios" ng-controller="MembersController" class="section">
                <div class="section-content">
                    <div class="section-title">BIOS</div>
                    <ul>
                        <li ng-repeat="member in members">
                            <div ng-click="showBio(member.title)" class="icon"><img src="{{member.thumbnail}}" /></div>
                            <div class="title-bar">
                                <div class="title">{{member.title | uppercase}}</div>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </div>
            <!--Social Media-->
            <div id="social-media" class="section">
                <div class="section-content">
                    <ul>
                        <!--Facebook-->
                        <li title="Facebook">
                            <a target="_blank" href="https://www.facebook.com/SomethingWickedRocksband/">
                                <div class="social-media-circle">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <!--Twitter-->
                        <li title="Twitter">
                            <a target="_blank" href="https://www.twitter.com/smthing_wicked">
                                <div class="social-media-circle">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <!--YouTube-->
                        <li title="YouTube">
                            <a target="_blank" href="https://www.youtube.com/channel/UCOwoh6rDLkrR7ZJ7WQma3CQ">
                                <div class="social-media-circle">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <!--Instagram-->
                        <li title="Instagram">
                            <a target="_blank" href="">
                                <div class="social-media-circle">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </div>
                            </a>
                        </li>
                        <!--Back to top-->
                        <li ng-click="scrollTo('top')" title="Back to top" class="back-to-top">
                            <div class="social-media-circle">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Content Window-->
        <div ng-controller="ContentWindowController" class="content-window ng-hide" ng-show="showContentWindow()" ng-click="close()">
            <div class="window-background">
                <div class="window">
                    <div class="title-bar" ng-click="stopPropagation($event)">
                        <div class="content-title">
                            {{contentWindow.title | uppercase}}
                            <span class="close-button" ng-click="close()"><i class="fa fa-times" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="content-container" ng-click="stopPropagation($event)">
                        <div class="loading" ng-show="contentWindow.load">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        </div>
                        <ng-view></ng-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
