<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
        <remove name="LocalSqlServer" />
    <add connectionString="Data Source=zorioth\sqlexpress;Initial Catalog=Something Wicked;Integrated Security=True" name="DBCS" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="asdf">
            <match url="manager.html" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Redirect" url="manager" />
        </rule>
        <rule name="Manager" enabled="true" stopProcessing="true">
            <match url="manager" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="manager.html" appendQueryString="true" />
        </rule>
        <rule name="RewriteRules" enabled="true" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            </conditions>
            <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
